body {
    margin: 0;
    
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    background-color: #2F2E41;
}
#page{
    margin: auto 89px ;
}
header {
    padding-top: 71px;
    
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    
    
}
ul{
    list-style: none;
    display: flex;
    gap: 64px;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}


main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100.95px 89px 157px 99px;
    
}

.text {
    height: 190px;
    text-align: center;
    
}
h1 span {
    color: #00BFA6;
}
h1 {
    font-weight: 800;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 56px;
    font-weight: normal;
    margin-bottom: 32px;
}
p {
    
    color: #C2C2C2;
    font-size: 16px;
    line-height: 28px;
}

#securit {
    color: #00BFA6;
}






footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    margin: 157px 600px ;
    width: 462px;
    height: 28px;
    
    padding: 10px 0; 
     
}

#line {
    border-top: 1px solid #00BFA6; 
    margin-bottom: 1px; 
}

#logo {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px; 
}